<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gear</title>
    <!--link rel="" href="./resources/static/CustomerController.java"-->
</head>
<body>
<h1>CE UE A4</h1>
<h5>Gruppe 39: Antonia Grillmair, Christoph Wenna, Crsitian Hummel</h5>
<h2>Configurator</h2>

<h3>Choose Gear</h3>

<h5>Available Gears: </h5>

<li th:each="gType: ${gTypes}">
    <span th:text = "${gType}"></span>
</li>

<div>
    <h5>Chosen Gear: <input type="text" placeholder="Gear"></h5>
</div>


<a href="#"th:href="@{/handle}">
    <button>Submit</button>
</a>

</body>
</html>

<!--
<a href="#"th:href="@{/material.html}">
    <button>Submit</button>
</a>
-->