<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Handlebar</title>
    <!--link rel="" href="./resources/static/CustomerController.java"-->
</head>

<body>
<h1>CE UE A4</h1>
<h5>Gruppe 39: Antonia Grillmair, Christoph Wenna, Crsitian Hummel</h5>
<h2>Configurator</h2>
<h3>Choose Handlebar </h3>

<h5>Available Handlebars: </h5>

<li th:each="hbType: ${hbTypes}">
   <span th:text = "${hbType}"></span>
</li>

<div>
    <h5>Chosen Handlebar: <input type="text" placeholder="Handlebar"></h5>
</div>

<a href="#"th:href="@{/material.html}"> <!-- wien in result damit keinhtml hinten steht-->
    <button>Submit</button>
</a>


</body>
</html>

<!--
<a href="#"th:href="@{/material.html}">
    <button>Submit</button>
</a>
-->